<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SN{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        {% block styles %}{% endblock %}
    </head>
    <body>
        <!-- Меню -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ url_for('login') }}">Название бренда</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('profile') }}">Профиль</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('news') }}">Новости</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('messages') }}">Сообщения</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('game') }}">Игра</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Выйти</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">Регистрация</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- Конец меню -->
        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="alert alert-info" role="alert">
                        {% for message in messages %}
                        <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>